/* pdoc dark-mode color scheme  */
:root {
    --pdoc-background: #ffffff;
}

.pdoc {
    --text: hsl(0, 0%, 0%);
    --muted: hsl(0, 0%, 47%);
    --link: hsl(212, 100%, 67%);
    --link-hover: hsl(216, 100%, 61%);

    --active: hsl(0, 0%, 91%);

    --code: hsl(215, 21%, 95%);
    --code-text: hsl(0, 0%, 7%);

    --accent: hsl(0, 0%, 7%);
    --accent2: hsl(0, 0%, 27%);

    --nav-text: #aeccb6;
    --nav-background: hsl(0, 0%, 7%);
    --nav-hover: hsl(0, 0%, 12%);
    --nav-border:  hsl(0, 0%, 27%);

    --name: hsl(207, 38%, 43%);
    --def: hsl(147, 100%, 21%);
    --annotation: hsl(137, 100%, 38%);
}
