# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python tests (all optional dependencies)

on: ["push"]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
    env:
      MPLBACKEND: Agg  # https://github.com/orgs/community/discussions/26434
      SDL_VIDEODRIVER: "dummy" # for PyGame render https://stackoverflow.com/questions/15933493/pygame-error-no-available-video-device
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        git submodule update --init --recursive
        python -m pip install --upgrade pip
        pip install .[all]
        pip install -r requirements-dev.txt
    - name: Setup java for ENHSP
      uses: actions/setup-java@v2
      with:
        distribution: "microsoft"
        java-version: "17"
    - name: Download and install ENHSP
      run: |
        git clone https://gitlab.com/enricos83/ENHSP-Public.git
        cd ENHSP-Public; git checkout enhsp20-0.9.7; bash ./compile; cd ..
        bash -c "mkdir .planners; mv ENHSP-Public/enhsp-dist .planners/enhsp-20; rm -rf ENHSP-Public"
    - name: Test with pytest
      run: |
        pytest tests
