# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python tests (no optional dependencies)

on: ["push"]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
    env:
      MPLBACKEND: Agg  # https://github.com/orgs/community/discussions/26434
    steps:
    - uses: actions/checkout@v2
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Set up venv with Python ${{ matrix.python-version }}
      run: |
        uv venv --python ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        uv sync
    - name: Test with pytest
      run: |
        pytest
