name: Python coverage

on: ["push"]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MPLBACKEND: Agg  # https://github.com/orgs/community/discussions/26434
      SDL_VIDEODRIVER: "dummy" # for PyGame render https://stackoverflow.com/questions/15933493/pygame-error-no-available-video-device
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v1
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        git submodule update --init --recursive
        python -m pip install --upgrade pip
        pip install -e .[all]
        pip install -r requirements-dev.txt
    - name: Build coverage using pytest-cov
      run: |
        pytest --cov=crafting --cov-report=xml tests
    - name: Codacy Coverage Reporter
      uses: codacy/codacy-coverage-reporter-action@v1.3.0
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: coverage.xml